.btn{
    display: inline-block;
    padding: 1rem 2.3rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    background-color: var(--main-color);
    color: var(--second-background-color);
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: 0 0 2rem var(--main-color);
    color: white;
}

.btn-sm {
    padding: .5rem 1.5rem;
    font-size: 0.8rem;
}