<app-navbar></app-navbar>
<section class="home">
    <div class="home-content">
        <h3>Bonjour, moi c'est <span class="name">Onja Marco</span></h3>
        <h2>Je suis <span class="role">Développeur back-end</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, ipsa reiciendis quidem sapiente laboriosam
            consequuntur enim amet voluptatum et voluptas,
            maiores excepturi voluptates in sint unde dignissimos modi omnis quia.</p>
        <div class="social-media">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
        </div>
        <app-button label="Télécharge CV"></app-button>
    </div>
    <div class="home-img">
        <app-profile-img></app-profile-img>
    </div>
</section>