<section class="home">
    <div class="home-content">
        <h3>Bonjour, moi c'est <span class="name"> Marco</span></h3>
        <h2>Je suis <span class="role">Ingénieur Logiciel</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, ipsa reiciendis quidem sapiente laboriosam
            consequuntur enim amet voluptatum et voluptas,
            maiores excepturi voluptates in sint unde dignissimos modi omnis quia.</p>
        <div class="social-media">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
        </div>
        <app-button label="Télécharge CV"></app-button>
    </div>
    <div class="home-img">
        <app-profile-img></app-profile-img>
    </div>
</section>

<!-- Section about-->
<!-- <section class="about" id="about">
    <div class="about-img">
        <img src="assets/img rond.png">
    </div>
    <div class="about-content">
        <h2 class="heading">Apropos de <span> Moi </span></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, rerum. Iste itaque exercitationem iusto
            culpa natus illum modi adipisci maxime, recusandae esse veniam alias ex non sequi commodi explicabo
            accusamus aut debitis, rerum mollitia quis nostrum molestiae. Corrupti adipisci recusandae nostrum.
            Doloribus optio, aliquid id cupiditate nemo excepturi pariatur nisi nihil modi, minima voluptate dolore
            ullam sunt aliquam, at quae dolor possimus! Aliquam laboriosam magnam atque praesentium sunt libero possimus
            repellat consectetur. Molestias ea vitae at illo alias similique nisi minus, dignissimos, excepturi debitis,
            corporis qui quas est! Mollitia temporibus dignissimos distinctio recusandae nesciunt corporis quam quis,
            nemo sequi ducimus?</p>
    </div>
</section> -->

<!-- Section Services -->
<!-- 
<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="services-box">
            <i class="bx bxs-paint"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error itaque fugit quasi totam laudantium
                necessitatibus dignissimos et odio facilis.</p>
        </div>
        <div class="services-box">
            <i class="bx bxs-paint"></i>
            <h3>Data analyst</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error itaque fugit quasi totam laudantium
                necessitatibus dignissimos et odio facilis.</p>
        </div>
        <div class="services-box">
            <i class="bx bxs-paint"></i>
            <h3>Big Data</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error itaque fugit quasi totam laudantium
                necessitatibus dignissimos et odio facilis.</p>
        </div>
    </div>
</section> -->

<section class="experiences" id="experiences">
    <h2 class="heading"> Experiences</h2>
    <div class="experiences-container">
        <div class="experiences-box">
            <div class="year"><i class="bx bxs-calendar"></i> Mai 2022 - Dec 2023 </div>
            <h3>Développeur back-end Java</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error itaque fugit quasi totam laudantium
                necessitatibus dignissimos et odio facilis.</p>
        </div>
        <div class="experiences-box">
            <div class="year"><i class="bx bxs-calendar"></i> Nov 2019 - Janv 2020</div>
            <h3>Développeur web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error itaque fugit quasi totam laudantium
                necessitatibus dignissimos et odio facilis.</p>
        </div>
    </div>
</section>